
.vs/RandomDukNET/DesignTimeBuild/

.vs/RandomDukNET/FileContentIndex/

.vs/RandomDukNET/v17/

RandomDukNET.Library.Tests/obj/Debug/net6.0/

RandomDukNET.Tests/bin/Debug/net6.0/

RandomDukNET.Tests/obj/Debug/net6.0/

RandomDukNET.Tests/obj/

RandomDukNET/bin/Debug/net6.0/

RandomDukNET/obj/

RandomDukNET.Library.Tests/obj/

RandomDukNET.Library.Tests/Usings.cs

.vs/ProjectEvaluation/
